.slider-container {
    margin: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.slider-item-container {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.slider-item {
    height: auto;
    width: 100%;
}