.slider-container {
    margin: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.slider-item-container {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.slider-item {
    width: 100%; /* Thu nhỏ ảnh còn 80% của khung chứa */
    max-height: 400px; /* Đặt chiều cao tối đa */
    height: auto; /* Giữ nguyên tỷ lệ ảnh */
    object-fit: contain; /* Đảm bảo ảnh không bị méo hoặc cắt */
    display: block;
    margin: 0 auto; /* Căn giữa ảnh */
}
